@use '../styles.scss' as *;

// mixin örnek
@mixin rounded($unit) {
  border-radius: $unit;
}

@mixin media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

// nav css
nav {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.content {
  background-color: #fff;

  #map {
    height: 600px;
    width: 100%;
  }

  //widget area css
  .widget-area {
    .search-width {
      width: 50%;

      .search-input {
        border-radius: 20px !important;
        padding: 8px 15px;
      }

      ::placeholder {
        color: $light-gray !important;
      }

      .search-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        cursor: pointer;

        span {
          background-color: #fff;
          border: none;

          i {
            color: $light-gray;
          }
        }
      }
    }

    // card css
    .card-container {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
      border: none;
      @include rounded(10px);
      max-height: 600px;
      height: 600px;
      overflow: auto;

      .frame {
        height: 560px;
        width: 100%;
        position: relative;
        overflow: scroll;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .card {
        background-color: $light;
        height: 160px;
        @include rounded(10px);
        padding: 15px;
        border: none;

        .active {
          border: 1px solid $primary !important;
        }


        .card-left {
          .card-title {
            font-size: 14px;
            font-weight: 500;
            color: $dark;
            margin: 0px;
          }

          span {
            color: $gray;
            font-size: 12px;
          }

        }

        .card-degree,
        .card-percentage {
          font-size: 20px;
          font-weight: 500;
          color: $dark;
        }

        .card-temperature,
        .card-humidity {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2px;
        }

        .card-date {
          font-size: 10px;
          color: $dark;
          font-weight: 400;
        }
      }
    }
  }

  .active {
    outline: 1px solid $primary !important;
  }


  .flex-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  //scroll css
  ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: $light;
  }


}


//responsive css
@include media(576px) {
  .content {
    margin: 15px;
  }

  .search-width {
    width: 100% !important;
    margin-top: 10px;
  }

  #map {
    height: 200px !important;
  }
}