// nav css
nav {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.content {
  background-color: #fff;

  #map {
    height: 700px;
    width: 1079px;

  }

  .card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: none;
  }
}