<nav class="navbar bg-body-tertiary w3-animate-opacity">
  <div class="container-fluid mx-lg-5 d-flex justify-content-between flex-row">
    <a class="navbar-brand" href="#">
      <img src="../assets/imgs/logo.png" alt="Logo" width="200" height="40" class="d-inline-block align-text-top">
    </a>
    <div class="d-flex gap-3">
      <img src="../assets/imgs/icons/notification.svg" width="30" alt="">
      <img src="../assets/imgs/icons/person.svg" width="25" alt="">
      <img src="../assets/imgs/icons/menu.svg" width="25" alt="">
    </div>
  </div>
</nav>
<div class="content m-sm-4 m-lg-5 w3-animate-opacity">
  <div class="row mx-lg-5">
    <div class="col-xl-7 col-lg-12 mb-sm-4">
      <h3 class="py-2 fw-bold">Lorem Ipsum</h3>
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
    </div>
    <div class="col-xl d-flex flex-column align-items-center widget-area">
      <div class="w-100 d-flex flex-row justify-content-end mb-1">
        <div class="input-group mt-2 search-width">
          <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearch()" class="form-control search-input"
            placeholder="Search" aria-label="search">
          <div class="input-group-append search-icon">
            <span class="input-group-text">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="card-container w-100 my-2 p-3">
        @if(filteredCapitals.length>0){

        <div class="row g-3 gx-3 p-3">
          @for (item of filteredCapitals; track item) {
          <div class="col-12 col-md-4 col-lg-6">
            <div class="card">
              <div class="flex-item mb-2">
                <div class="card-left">
                  <div class="card-title">{{item?.properties?.name}}</div>
                  <span>{{item?.properties?.state}}</span>
                </div>
                <img width="30" [src]="'../assets/imgs/icons/' + 
                        (item?.properties?.status === 1 
                          ? 'red' 
                          : item?.properties?.status === 2 
                          ? 'yellow' 
                          : 'green') + '-status.svg'" alt="status icon">


              </div>
              <div class="d-flex gap-3">
                <div class="card-temperature">
                  <img width="24" src="../assets/imgs/icons/temperature.svg" alt="">
                  <div class="card-degree">{{item?.properties?.temperature}} &deg;C</div>
                </div>
                <div class="card-humidity">
                  <img width="24" src="../assets/imgs/icons/humidity.svg" alt="">
                  <div class="card-percentage">%{{item?.properties?.humidity}}</div>
                </div>
              </div>
              <div class="flex-item mt-2">
                <div class="card-date">10/03/2024 08:12</div>
                <img width="32" src="../assets/imgs/icons/ellipse-icon.svg" alt="">
              </div>
            </div>
          </div>}
        </div>
        }@else{
        <div class="empty-card d-flex flex-column justify-content-center align-items-center">
          <div class="alert alert-warning w-100" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i> Şehir bulunamadı!
          </div>
        </div>
        }
      </div>

    </div>
  </div>
</div>